body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Drum Machine */

.header-row {
  display: flex;
}

.header-cell {
  width: 22px;
  /* Same width as the grid cells */
  text-align: center;
  /* Center the text in the header cell */
  /* Additional styling as needed */
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  /* Adjust the width of each cell */
  height: 20px;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
}

.cell.active {
  background-color: blue;
}

.cell.current-step {
  border: 2px solid red;
}